:root {
    /* Цвета. */
    --dark-green-color: #4F904C;
    --light-green-color: #91D77F;
    --gray-color: #3B3C3E;
    /* Основные константы дизайна. */
    --main-color: rgb(30, 30, 30);
    --main-2-color: rgb(62, 62, 62);
    --main-3-color: rgb(71,201,175);
    --background-color: rgb(40, 40, 40);
    --text-color: var(--main-color);
}

@font-face {
    /* Основной шрифт. */
    font-family: main;
    src: url('../fonts/NaturalMonoAlt.ttf');
}

body {
    margin: 0;
    background: var(--background-color);
}

body, input, button {
    font-family: main;
}

button, input {
    outline: none;
    border: none;
    padding: 15px;
    border-radius: 10px;
    font-size: medium;
    box-sizing: border-box;
}

button {
    cursor: pointer;
}
