:root {
    --main-color: rgb(30, 30, 30);
    --main-2-color: rgb(62, 62, 62);
    --main-3-color: rgb(71, 201, 175);
    --main-4-color: rgba(40, 40, 40, 0.9);
    --main-5-color: rgba(0, 0, 0, 0.6);
    --main-6-color: rgba(0, 0, 0, 0.7);

    --text-color: var(--main-color);
    --online-color: #91D77F;
    --error-color: red;

    --success-color: #9ACD32;
    --cancel-color: #8B0000;

    --addr-height: 0px;
}

@font-face {
    font-family: main;
    src: url('../fonts/tahoma.ttf');
}

html {
    overflow: hidden;
}

body {
    margin: 0;
}

body, input, button, textarea {
    font-family: main;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: var(--main-3-color);
}

button, input, textarea {
    outline: none;
    border: none;
    padding: 15px;
    border-radius: 10px;
    font-size: medium;
    box-sizing: border-box;
    max-width: 100%;
    font-size: small;
}

button {
    cursor: pointer;
    background: var(--main-3-color);
    color: white;
}

button:hover, button:focus {
    opacity: 0.8;
}

button.icon-button {
    display: flex;
    padding: 0;
    align-items: center;
}

button.icon-button i {
    display: block;
    padding: 7px 13px;
    margin-right: 10px;
    text-align: center;
    font-size: xx-large;
    background: var(--main-5-color);
    color: var(--main-3-color);
    margin-left: 10px;
}

input:hover, input:focus, textarea:hover, textarea:focus {
    outline: 2px solid var(--main-3-color);
}

input.invalid {
    outline: 2px solid var(--error-color);
}

h1 {
    color: white;
    margin-top: 0;
}

.main {
    height: 100vh;
    overflow-y: hidden;

    background: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.central-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 40px;
}

.inputs-container {
    display: flex;
    flex-direction: column;
    padding: 2vw 1vw;
    width: 350px;
    max-width: 300px;
    border-radius: 15px;

    backdrop-filter: blur(10px);
}

.inputs-container > input, .inputs-container > button, .inputs-container .input-and-inner-button-container, .inputs-container > textarea {
    margin-bottom: 15px;
}

.input-and-inner-button-container {
    position: relative;
}

.input-and-inner-button-container input, .input-and-inner-button-container textarea {
    width: 100%;
    padding-right: 60px;
}

.input-and-inner-button-container button {
    background: none;
    color: var(--main-2-color);
    font-size: 1.1em;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
}

.input-and-inner-button-container button:hover {
    color: var(--main-3-color);
}

@media only screen and (max-width: 940px), only screen and (max-device-width: 940px) {

    .main {
        height: calc(100vh - var(--addr-height));
    }

}
