:root {
    /* Цвета. */
    --dark-green-color: #4F904C;
    --light-green-color: #91D77F;
    --gray-color: #3B3C3E;
    --red-color: red;
    /* Основные константы дизайна. */
    --main-color: rgb(30, 30, 30);
    --main-2-color: rgb(62, 62, 62);
    --main-3-color: rgb(71, 201, 175);
    --background-color: rgb(40, 40, 40);
    --text-color: var(--main-color);

    --addr-height: 56px;
}

@font-face {
    /* Основной шрифт. */
    font-family: main;
    src: url('../fonts/NaturalMonoAlt.ttf');
}

html {
    overflow: hidden;
}

body {
    margin: 0;
    background: var(--background-color);
}

body, input, button, textarea {
    font-family: main;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: var(--main-3-color);
}

button, input, textarea {
    outline: none;
    border: none;
    padding: 15px;
    border-radius: 10px;
    font-size: medium;
    box-sizing: border-box;
}

button {
    cursor: pointer;
    background: var(--main-3-color);
    color: white;
}

button:hover, button:focus {
    background: none;
}

input:hover, input:focus, textarea:hover, textarea:focus {
    outline: 2px solid var(--main-3-color);
}

input.invalid {
    outline: 2px solid var(--red-color);
}

h1 {
    color: white;
}

.main {
    height: 100vh;
    overflow-y: hidden;
}

.central-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 40px;
}

.inputs-container {
    display: flex;
    flex-direction: column;
    padding: 2vw 1vw;
    width: 350px;
    max-width: 350px;
    border-radius: 15px;
}

.inputs-container > input, .inputs-container > button, .inputs-container .input-and-inner-button-container, .inputs-container > textarea {
    margin-bottom: 15px;
}

.input-and-inner-button-container {
    position: relative;
}

.input-and-inner-button-container input, .input-and-inner-button-container textarea {
    width: 100%;
    padding-right: 60px;
}

.input-and-inner-button-container button {
    background: none;
    color: var(--main-2-color);
    font-size: 1.1em;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
}

.input-and-inner-button-container button:hover {
    color: var(--main-3-color);
}
