.inputs-container {
    padding: 3vw 2vw;
    background: var(--main-4-color);
    border-radius: 10%;
}

a.reg-link {
    text-align: center;
}

@media only screen and (max-width: 450px), only screen and (max-device-width: 450px) {

    .inputs-container {
        background: none;
    }

}
