.messenger {
    display: flex;
    margin: 50px auto;
    margin-bottom: 0px;
    max-width: 1280px;
    height: calc(100vh - 50px);
}

.sidebar {
    flex: 20%;
    background: var(--main-color);
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.sidebar .sidebar__title {
    padding: 17px;
    color: white;
    background: var(--main-color);
    display: flex;
    align-items: center;

    box-sizing: border-box;
    height: 65px;
}

.sidebar .sidebar__id {
    font-size: small;
    background: var(--main-2-color);
    border-radius: 7px;
    padding: 5px 10px;
    margin-left: 10px;
}

.sidebar .sidebar__search {
    border-top: 2px solid var(--main-2-color);
    padding: 10px;
}

.sidebar .sidebar__search input {
    font-size: small;
}

.sidebar .sidebar__links {
    overflow-y: auto;
    overflow-x: hidden;
}

.chat-link {
    cursor: pointer;
    color: white;
    padding: 20px;
    border-bottom: 2px solid var(--main-2-color);
    background: var(--main-color);
    position: relative;
}

.chat-link:hover, .chat-link.chat-link--active {
    background: var(--main-3-color);
    border-bottom: 2px solid var(--main-3-color);
}

.chat-link__chat-name {
    padding: 5px;
}

.chat-link__last-message {
    padding: 5px;
    font-size: small;
}

.chat-link__last-message .chat-link__self {
    opacity: 0.5;
}

.chat-link .chat-link__date {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: small;
}

.cur-chat {
    flex: 80%;
    background: var(--main-2-color);
    position: relative;
}

.chats {
    height: calc(100vh - 50px);
    position: relative;
}

.chat {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    max-height: 100%;
    z-index: 2;
    position: relative;
    background: var(--main-2-color);
}

#js-cur-chat-overlay {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    color: white;
    background: var(--main-2-color);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    font-size: 1.5em;
}

.chat.chat--hidden {
    display: none;
}

.chat.chat--new-fake .chat__messages {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: auto;
}

.chat .chat__header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: var(--main-color);
    color: white;
    box-sizing: border-box;
    align-items: center;

    box-sizing: border-box;
    height: 65px;
}

.chat .chat__back-link {
    cursor: pointer;
    padding: 10px 20px;
}

.chat .chat__back-link:hover {
    color: var(--main-3-color);
}

.chat .chat__name-wrapper {
    display: flex;
    align-items: center;
}

.chat .chat__name {
    padding-right: 10px;
}

.chat .chat__interlocutor-online-status {
    color: var(--main-2-color);
    padding: 10px;
    font-size: small;
}

.chat .chat__interlocutor-online-status.is-online {
    color: var(--light-green-color);
}

.chat .chat__date-sep {
    margin-bottom: 20px;
    text-align: center;
    color: white;
    font-size: small;
}

.chat .chat__messages {
    overflow-y: auto;
    padding: 20px 5vw;
    padding-bottom: 0;
    background: var(--main-2-color);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: auto;
    margin-bottom: 10px;
    text-align: center;
}

.chat .chat__messages > .chat__message:first-child {
    margin-top: auto;
}

.chat .chat__message {
    width: fit-content;
    margin-bottom: 20px;
    max-width: 500px;
}

.chat .chat__message a {
    color: deeppink;
}

.chat .chat__message a:hover {
    text-decoration: underline;
}

.chat .chat__message.chat__message--self {
    margin-left: auto;
}

.chat .chat__message .chat__message__name {
    background: var(--text-color);
    color: white;
    padding: 10px 20px;
    width: fit-content;
    border-top-right-radius: 10px;
}

.chat .chat__message.chat__message--self .chat__message__name {
    display: none;
}

.chat .chat__message .chat__message__text {
    white-space: pre-line;
    background: white;
    padding: 20px;
    width: fit-content;
    min-width: 200px;
    border-radius: 0 10px 10px 10px;
    color: var(--text-color);
    font-size: 0.9em;
    overflow-wrap: anywhere;
}

.chat .chat__message.chat__message--self .chat__message__text {
    background: var(--main-3-color);
    color: white;
    border-top-left-radius: 10px;
}

.chat .chat__message .chat__message__text-wrapper {
    position: relative;
}

.chat .chat__message .chat__message__time {
    position: absolute;
    right: 5px;
    bottom: 3px;
    font-size: 0.7rem;
}

.chat .chat__message.chat__message--self .chat__message__time {
    color: white;
}

.chat__input-container {
    padding: 1vw 5vw;
    padding-top: 2vw;
    width: 100%;
    box-sizing: border-box;
    position: relative;
}

.chat__input-container .chat__interlocutor-write-hint {
    top: 0;
    position: absolute;
    transform: translateY(-100%);
    color: white;
    font-size: small;
}

.chat__input-container textarea {
    height: 50px;
    min-height: 50px;
    max-height: 100px;
    resize: none;
}

@media only screen and (max-width: 1280px), only screen and (max-device-width: 1280px) {

    .messenger {
        margin-top: 0;
        margin-bottom: 0;
        height: 100vh;
    }

    .chats {
        height: 100vh;
    }

}

@media only screen and (max-width: 940px), only screen and (max-device-width: 940px) {

    .sidebar {
        position: absolute;
        z-index: 1000;
        width: 100%;
        height: 100%;
    }

    .chats {
        height: calc(100vh - 56px);
    }

    .chat {
        z-index: 1001;
        position: absolute;
        width: 100%;
        height: 100%;
        background: var(--main-2-color);
    }

    #js-cur-chat-overlay {
        background: var(--main-color);
    }

}
