:root {
    --chat-input-height: 50px;
}

.quit {
    position: absolute;
    bottom: 0;
    left: 0;
    background: var(--cancel-color);
    color: white;
    z-index: 1001;
    padding: 8px 20px;
    border-radius: 0 50% 0 0;
    cursor: pointer;
    transition: 0.1s;
}

.quit:hover {
    background: none;
}

.messenger {
    display: flex;
    margin: 50px auto;
    margin-bottom: 0px;
    max-width: 1280px;
    height: calc(100vh - var(--chat-input-height));
}

.sidebar {
    flex: 20%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    position: relative;

    background: var(--main-6-color);
}

.sidebar__title {
    position: relative;

    color: white;
    background: var(--main-color);
    display: flex;
    align-items: center;

    box-sizing: border-box;
    min-height: 65px;

    cursor: pointer;
}

.sidebar__title:hover {
    background: var(--main-color);
}

.sidebar__id {
    z-index: 1;
    color: white;
    cursor: pointer;
    position: absolute;
    right: 5px;
    font-size: x-small;
    top: 5px;
    text-decoration: underline;
}

.sidebar__id:hover + .sidebar__title {
    pointer-events: none;
}

.sidebar__search {
    padding: 10px;
}

.sidebar__search input {
    font-size: small;
}

.sidebar__user-settings {
    position: absolute;
    background: var(--main-6-color);
    height: calc(100% - 67px);
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    top: 65px;
    box-sizing: border-box;
}

.sidebar__user-settings input[type="file"] {
    display: none;
}

.sidebar__user-settings.sidebar__user-settings--hidden {
    display: none;
}

.sidebar__user-settings__avatar {
    display: flex;
    align-items: center;
}

.sidebar__user-settings__avatar button {
    margin-left: 20px;
}

.sidebar__user-settings__id {
    margin: 20px 0;
    color: white;
}

.sidebar__user-settings > input, .sidebar__user-settings > button {
    margin-bottom: 10px;
    width: 100%;
}

.sidebar__user-settings__exit-buttons {
    display: flex;
}

.sidebar__user-settings__exit-buttons > button {
    flex: 50%;
}

.sidebar__user-settings__save {
    background: var(--success-color);
    margin-right: 7px;
}

.sidebar__user-settings__close {
    background: var(--cancel-color);
}

.sidebar__links {
    overflow-y: auto;
    overflow-x: hidden;
}

.chat-link {
    cursor: pointer;
    color: white;
    padding: 20px;
    border-bottom: 1px solid var(--main-4-color);
    position: relative;
}

.chat-link:hover, .chat-link.chat-link--active {
    background: var(--main-3-color);
    border-bottom: 1px solid var(--main-3-color);
}

.chat-link__chat-name {
    padding: 5px;
    font-size: small;
}

.chat-link__chat-name-wrapper {
    display: flex;
    align-items: center;
}

.chat-link__last-message {
    padding: 5px;
    font-size: small;
}

.chat-link__last-message .chat-link__self {
    opacity: 0.5;
}

.chat-link__date {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: x-small;
}

.chat-link__count {
    position: absolute;
    bottom: 22px;
    right: 22px;
    padding: 5px 10px;
    border-radius: 10px;
    background: var(--main-5-color);
    font-size: smaller;
}

.chat-link__count:empty {
    display: none;
}

.cur-chat {
    flex: 80%;
    position: relative;
}

.chats {
    height: calc(100vh - var(--chat-input-height));
    position: relative;
}

.chat {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    max-height: 100%;
    z-index: 2;
    position: relative;

    backdrop-filter: blur(60px);
}

.cur-chat-overlay {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    font-size: large;

    backdrop-filter: blur(60px);
}

.chats:has(.chat:not(.chat--hidden)) + .cur-chat-overlay {
    display: none;
}

.chat.chat--hidden {
    display: none;
}

.chat.chat--new-fake .chat__messages {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: auto;
}

.chat__header {
    display: flex;
    justify-content: space-between;
    background: var(--main-color);
    color: white;
    box-sizing: border-box;
    align-items: center;

    box-sizing: border-box;
    min-height: 65px;
}

.chat__back-link {
    cursor: pointer;
    padding: 10px 20px;
}

.chat__back-link:hover {
    color: var(--main-3-color);
}

.chat__name-wrapper {
    display: flex;
    align-items: center;
}

.chat__name {
    padding-right: 10px;
}

.chat__date-sep {
    margin-bottom: 20px;
    text-align: center;
    color: white;
    font-size: small;
}

.chat__messages {
    overflow-y: auto;
    padding: 20px 5vw;
    padding-bottom: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: auto;
    margin-bottom: 10px;
}

.chat.chat--new-fake .chat__messages {
    text-align: center;
}

.chat__messages > .chat__message:first-child {
    margin-top: auto;
}

.chat__message {
    width: fit-content;
    margin-bottom: 20px;
    max-width: 500px;
}

.chat__message a {
    color: darkmagenta;
    opacity: 0.6;
}

.chat__message a:hover {
    text-decoration: underline;
}

.chat__message.chat__message--self {
    margin-left: auto;
}

.chat__message.chat__message--unread {
    opacity: 0.75;
}

.chat__message .chat__message__name {
    background: var(--text-color);
    color: white;
    padding: 10px 20px;
    width: fit-content;
    border-top-right-radius: 10px;
    margin-right: 10px;
    font-size: smaller;
}

.chat__message.chat__message--self .chat__message__name {
    display: none;
}

.chat__message__text {
    white-space: pre-line;
    background: white;
    padding: 13px;
    min-width: 100px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 0 10px 10px 10px;
    color: var(--text-color);
    font-size: 0.9em;
    overflow-wrap: anywhere;
}

.chat__message.chat__message--self .chat__message__text {
    background: var(--main-3-color);
    color: white;
    border-top-left-radius: 10px;
}

.chat__message__text .highlighted-text {
    backdrop-filter: brightness(95%);
    padding: 5px;
    border-radius: 10px;
}

.chat__message__text-wrapper {
    position: relative;
}

.chat__message__time {
    position: absolute;
    right: 5px;
    bottom: 3px;
    font-size: xx-small;
}

.chat__message.chat__message--self .chat__message__time {
    color: white;
}

.chat__input-container {
    padding: 1vw 5vw;
    padding-top: 2vw;
    width: 100%;
    box-sizing: border-box;
    position: relative;
}

.chat__input-container .chat__interlocutor-write-hint {
    top: 0;
    position: absolute;
    transform: translateY(-100%);
    color: white;
    font-size: small;
}

.chat__input-container textarea {
    height: 50px;
    min-height: 50px;
    max-height: 100px;
    resize: none;
}

.avatar {
    width: 50px;
    height: 50px;
    margin: 0 10px;
    border-radius: 50%;
    object-fit: cover;
}

.avatar.avatar--active {
    outline: 2px solid var(--online-color);
}

.sidebar__links .avatar {
    width: 30px;
    height: 30px;
    margin: 0 5px;
}

.cut-long-text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media only screen and (max-width: 1280px), only screen and (max-device-width: 1280px) {

    .messenger {
        margin-top: 0;
        margin-bottom: 0;
        height: 100vh;
    }

    .chats {
        height: 100vh;
    }

}

@media only screen and (max-width: 940px), only screen and (max-device-width: 940px) {

    .sidebar {
        position: absolute;
        z-index: 1000;
        width: 100%;
        height: 100%;
    }

    .chats {
        height: calc(100vh - var(--addr-height));
    }

    .chat {
        z-index: 1001;
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .cur-chat-overlay {
        display: none;
    }

}
