.messenger {
    display: flex;
    margin: 50px auto;
    margin-bottom: 0px;
    max-width: 1280px;
    height: calc(100vh - 50px);
}

.sidebar {
    flex: 20%;
    background: var(--main-color);
}

.sidebar .sidebar__title {
    padding: 20px;
    color: white;
    background: var(--main-color);
    border-bottom: 2px solid var(--main-2-color);
}

.sidebar input.sidebar__search {
    width: calc(100% - 20px);
    margin: 10px;
}

.sidebar .sidebar__links {
    overflow-y: auto;
}

.chat-link {
    cursor: pointer;
    color: white;
    padding: 20px;
    border-bottom: 2px solid var(--main-2-color);
    background: var(--main-color);
    position: relative;
}

.chat-link.chat-link--active {
    background: var(--main-3-color);
    border-bottom: 2px solid var(--main-3-color);
}

.chat-link__chat-name {
    padding: 5px;
}

.chat-link__last-message {
    padding: 5px;
    font-size: small;
}

.chat-link .chat-link__date {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: small;
}

.cur-chat-container {
    flex: 80%;
    background: var(--main-2-color);
    position: relative;
}

.closer {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    color: white;
    background: var(--main-2-color);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    font-size: 1.5em;
}

.loaded-chats {
    
}

.chat {
}

.chat.chat--hidden {
    display: none;
}

.chat .chat__header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: var(--main-color);
    color: white;
    box-sizing: border-box;
}

.chat .chat__back-link {
    cursor: pointer;
}

.chat .chat__name {
}

.chat .chat__messages {
    overflow-y: auto;
    padding: 20px 5vw;
    background: var(--main-2-color);
    box-sizing: border-box;
    height: calc(100vh - 60px - 50px - 70px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.chat .chat__messages > .chat__message:first-child {
    margin-top: auto;
}

.chat .chat__message {
    max-width: fit-content;
    margin-bottom: 20px;
}

.chat .chat__message.chat__message--self {
    margin-left: auto;
}

.chat .chat__message .chat__message__name {
    background: var(--text-color);
    color: white;
    padding: 10px 20px;
    width: fit-content;
    border-top-right-radius: 10px;
}

.chat .chat__message.chat__message--self .chat__message__name {
    display: none;
}

.chat .chat__message .chat__message__text {
    background: white;
    padding: 20px;
    width: fit-content;
    min-width: 200px;
    border-radius: 0 10px 10px 10px;
    color: var(--text-color);
    font-size: 0.9em;
}

.chat .chat__message.chat__message--self .chat__message__text {
    background: var(--main-3-color);
    color: white;
    border-top-left-radius: 10px;
}

.chat .chat__message .chat__message__text-wrapper {
    position: relative;
}

.chat .chat__message .chat__message__time {
    position: absolute;
    right: 5px;
    bottom: 3px;
    font-size: 0.7rem;
}

.chat .chat__message.chat__message--self .chat__message__time {
    color: white;
}

.chat-message-input-container {
    padding: 0.5vw 4vw;
    display: flex;
    box-sizing: border-box;
    width: 100%;
}

.chat-message-input-container input {
    flex: 80%;
    margin-right: 10px;
}

.chat-message-input-container button {
    flex: 1%;
    background: none;
    color: white;
    font-size: 2.6em !important;
    padding: 0 !important;
}

.chat-message-input-container button:hover {
    color: var(--main-color);
}

@media only screen and (max-width: 700px), only screen and
(max-device-width: 700px){

    .messenger {
        margin-top: 0;
        margin-bottom: 0;
        height: 100vh;
    }

    .sidebar {
        position: absolute;
        z-index: 1000;
        width: 100%;
        height: 100%;
    }

    .chat {
        z-index: 1001;
        position: absolute;
        width: 100%;
        height: 100%;
        background: var(--main-2-color);
    }

    .chat .chat__messages {
        height: calc(100vh - 120px);
    }

    .chat-message-input-container {
        position: absolute;
        bottom: 0;
        z-index: 1002;
    }

    .closer {
        background: var(--main-color);
    }

}
