#notification {
    position: fixed;
    z-index: 9999;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px 20px;
    background: white;
    border-radius: 5px;
    transition: 0.3s;
    width: max-content;
    max-width: 50vw;
    text-align: center;

    -webkit-box-shadow: 0px 0px 23px -6px rgba(34, 60, 80, 0.64);
    -moz-box-shadow: 0px 0px 23px -6px rgba(34, 60, 80, 0.64);
    box-shadow: 0px 0px 23px -6px rgba(34, 60, 80, 0.64);
}

#notification:empty {
    transform: translate(-50%, -200%);
}
