.main {
    height: 100vh;
    overflow-y: hidden;
}

.reg {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    transition: 0.5s;
    /* transform: translateY(-50%); */
}

.reg .reg__step {
    margin: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
    max-width: 100%;
    width: 300px;
    box-sizing: border-box;
}

.reg input, .reg button {
    margin-bottom: 10px;
}

.reg button {
    background: var(--main-3-color);
    color: white;
}

.reg button.reg__step__back {
    background: var(--main-2-color);
}
