{% extends '_wrapper.html' %}

{% block title %}
GreenChat
{% endblock %}

{% block css %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/chat.css') }}">
{% endblock %}

{% block main %}
<div class="chat">

    <!-- Контейнер с сообщениями. -->
    <div class="chat__messages" id="js-chat-messages"></div>

    <!-- Ввод и отправка сообщения. -->
    <div class="chat__message-text-input">
        <input type="text" id="js-chat-message-text-input" placeholder="Что же написать...">
        <button id="js-chat-message-button">Отправить</button>
    </div>

    <!-- Шаблон элемента-сообщения. -->
    <template id="js-chat-message-temp">
        <div class="chat__message">
            <div class="chat__message__name"></div>
            <div class="chat__message__text"></div>
        </div>
    </template>

</div>
{% endblock %}

{% block js %}
<script>
    // Данные пользователя.
    var email = "{{ user.email }}";
    var password = "{{ user.password }}";
    var userId = "{{ user.id }}";
    var chatId = "1";
    // URL-адреса серверов.
    const HTTP_CHAT_HISTORY_URL = "{{ http_url }}" + "/chat_history"
    const SOCKET_URL = "{{ websocket_url }}";
</script>
<script src="{{ url_for('static', filename='js/chat.js') }}"></script>
{% endblock %}
