{% extends '_base.html' %}


{% block title %}
Вход
{% endblock %}


{% block css %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/password_switch.css') }}">
{% endblock %}


{% block main %}

<div class="central-container">
    <div class="inputs-container">
        <h1 align="center">GreenChat</h1>

        <div class="input-and-inner-button-container">
            <input id="js-email" placeholder="Ваша почта" maxlength="200">
            <button id="js-send-email-code">
                <small>Код</small>
            </button>
        </div>

        <input id="js-email-code" placeholder="Код подтверждения" maxlength="4">

        <button id="js-button">Вход & Регистрация</button>
    </div>
</div>

<script src="{{ url_for('static', filename='js/login.js') }}" type="module"></script>
<script src="{{ url_for('static', filename='js/passwordSwitch.js') }}" type="module"></script>
{% endblock %}
