{% extends '_base.html' %}

{% block title %}
Вход
{% endblock %}

{% block css %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block main %}
<div>
    <input id="js-username-input" name="username" type="text" placeholder="Логин">
    <input id="js-password-input" name="password" type="password" placeholder="Пароль">
    <button id="js-button">Войти</button>
</div>
<script src="{{ url_for('static', filename='js/login.js') }}" type="module"></script>
{% endblock %}
