{% extends '_base.html' %}


{% block css %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}


{% block main %}
<div id="quit" class="quit" data-language="textContent: quit"></div>

<div class="messenger">

    <div class="sidebar">
        <div class="sidebar__id" id="js-user-id-parent">
            ID: <span id="js-user-id" data-language="textContent: loading"></span>
        </div>
        <div class="sidebar__title" id="js-user-settings-open">
            <img class="avatar avatar--active"
                 id="js-user-avatar"
                 role="button"
                 src="">
            <div class="sidebar__name cut-long-text" id="js-user-name" data-language="textContent: loading"></div>
        </div>

        <div class="sidebar__search">
            <div class="input-and-inner-button-container js-click-by-press-enter">
                <input class="js-click-by-press-enter-input" id="js-search-input" maxlength="100"
                       data-language="placeholder: userId">
                <button class="js-click-by-press-enter-button" id="js-search-button">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </div>
        </div>

        <div class="sidebar__links" id="js-all-chats-links"></div>

        <div class="sidebar__user-settings sidebar__user-settings--hidden" id="js-user-settings">
            <input type="file" accept="image/*" id="js-user-settings-avatar-input">
            <button class="icon-button icon-button--file" id="js-user-settings-avatar-change-button">
                <i class="fa fa-file-image" aria-hidden="true"></i>
                <span data-language="textContent: avatar"></span>
            </button>

            <input id="js-user-settings-first-name" data-language="placeholder: firstName; value: loading">
            <input id="js-user-settings-last-name" data-language="placeholder: lastName; value: loading">

            <input type="file" accept="image/*" id="js-user-settings-background-input">
            <button class="icon-button icon-button--file" id="js-user-settings-background-change-button">
                <i class="fa fa-file-image" aria-hidden="true"></i>
                <span data-language="textContent: background"></span>
            </button>

            <div class="sidebar__user-settings__exit-buttons">
                <button class="sidebar__user-settings__save" id="js-user-settings-save">
                    <i class="fa fa-check" aria-hidden="true"></i>
                </button>
                <button class="sidebar__user-settings__close" id="js-user-settings-close">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>

    <div class="cur-chat">

        <div class="chats" id="js-loaded-chats"></div>

        <div id="js-cur-chat-overlay" class="cur-chat-overlay">
            <i class="fa fa-caret-left"></i> <span style="margin-left: 5px;" data-language="textContent: selectChat"></span>
        </div>

    </div>

</div>

<template id="js-chat-link-temp">
    <div class="chat-link">
        <div class="chat-link__chat-name-wrapper">
            <img class="avatar"
                 src="">
            <div class="chat-link__chat-name"></div>
        </div>

        <div class="chat-link__last-message cut-long-text">
            <span class="chat-link__self"></span>
            <span class="chat-link__text"></span>
        </div>

        <div class="chat-link__date"></div>
        <div class="chat-link__count"></div>
    </div>
</template>

<template id="js-chat-temp">
    <div class="chat chat--hidden">
        <div class="chat__header">
            <div class="chat__back-link">
                <i class="fa fa-caret-left"></i>
            </div>
            <div class="chat__name-wrapper">
                <div class="chat__name"></div>
                <img class="avatar"
                     src="">
            </div>
        </div>

        <div class="chat__messages"></div>

        <div class="chat__input-container">
            <div class="chat__files-to-upload"></div>

            <div class="chat__interlocutor-write-hint"></div>
            <div class="input-and-inner-button-container js-click-by-press-enter">
		        <textarea class="js-click-by-press-enter-input" maxlength="10000"></textarea>

                <input class="chat__clip-input" type="file" multiple>
                <button class="chat__clip">
                    <i class="fa fa-paperclip" aria-hidden="true"></i>
                </button>

                <button class="chat__send js-click-by-press-enter-button">
                    <i class="fa fa-play"></i>
                </button>
            </div>
        </div>

        <div class="chat__edit-mode--overlay chat__edit-mode--overlay--hidden"></div>
    </div>
</template>

<template id="js-message-temp">
    <div class="chat__message">
        <div class="chat__message__name"></div>

        <div class="chat__message__image-files"></div>

        <div class="chat__message__text-wrapper">
            <div class="chat__message__text"></div>
            <div class="chat__message__time"></div>
            <div class="chat__message__functions-button">
                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
            </div>
            <div class="chat__message__functions">
                <div class="chat__message__function chat__message__function--answer">
                    <i class="fa fa-reply" aria-hidden="true"></i>
                </div>
                <div class="chat__message__function chat__message__function--edit">
                    <i class="fa fa-pencil-alt" aria-hidden="true"></i>
                </div>
                <div class="chat__message__function chat__message__function--delete">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </div>
            </div>
        </div>

        <div class="chat__message__files"></div>

        <div class="chat__message__delete"></div>
    </div>
</template>

<template id="js-chat-date-sep-temp">
    <div class="chat__date-sep"></div>
</template>

<template id="js-chat-file-to-upload-temp">
    <div class="chat__file">
        <img data-image>
        <div class="chat__file__icon">
            <i class="fa fa-file" aria-hidden="true"></i>
        </div>
        <div class="chat__file__name cut-long-text" data-filename></div>
        <div class="chat__file__delete" data-delete>
            <i class="fa fa-times" aria-hidden="true"></i>
        </div>
    </div>
</template>

<template id="js-message-file-temp">
    <a class="chat__file" download>
        <div class="chat__file__icon">
            <i class="fa fa-file" aria-hidden="true"></i>
        </div>
        <div class="chat__file__name cut-long-text"></div>
    </a>
</template>

<template id="js-message-image-file-temp">
    <div class="chat__message__image-file">
        <img>
        <div class="chat__message__image-file__name"></div>
        <a download>
            <i class="fa fa-download" aria-hidden="true"></i>
        </a>
    </div>
</template>

{% endblock %}


{% block js %}
<script src="{{ url_for('static', filename='js/common/textareaIncrease.js') }}" type="module"></script>
<script src="{{ url_for('static', filename='js/common/clickByPressEnter.js') }}" type="module"></script>
<script src="{{ url_for('static', filename='js/common/disableBackReferrer.js') }}" type="module"></script>
<script src="{{ url_for('static', filename='js/main/init.js') }}" type="module"></script>
{% endblock %}
