{% extends '_base.html' %}


{% block title %}
GreenChat
{% endblock %}


{% block css %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}


{% block main %}
<div class="messenger">

    <div class="sidebar">
        <div class="sidebar__title">
            <div class="sidebar__name" id="js-user-name">Загрузка...</div>
            <div class="sidebar__id" id="js-user-id">ID: ...</div>
        </div>
        <div class="sidebar__search">
            <div class="input-and-inner-button-container">
                <input id="js-search-input" placeholder="Введите ID...">
                <button id="js-search-button">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </div>
        </div>
        {# Боковая панель со ссылками на все чаты. #}
        <div class="sidebar__links" id="js-all-chats-links"></div>
    </div>

    {# Контейнер, хранящий все загруженные чаты, и показывающий только один, выбранный. #}
    <div class="cur-chat">

        {# Контейнер со всеми загруженными чатами. #}
        <div class="chats" id="js-loaded-chats">

            {# Фейковый чат для демонстрации потенциального нового чата. #}
            <div class="chat chat--hidden chat--new-fake" id="js-new-chat">
                <div class="chat__header">
                    <div class="chat__back-link" id="js-new-chat-back-link">
                        <i class="fa fa-caret-left"></i>
                    </div>
                    <div class="chat__name" id="js-new-chat-name"></div>
                </div>
                <div class="chat__messages">
                    Отправьте сообщение для создания нового чата.
                </div>
                {# Ввод и отправка первого сообщения для создания нового чата. #}
                <div class="chat__input-container">
                    <div class="input-and-inner-button-container">
                        <input type="text" placeholder="Ваше первое сообщение?..." id="js-new-chat-input">
                        <button id="js-new-chat-button">
                            <i class="fa fa-play"></i>
                        </button>
                    </div>
                </div>
            </div>

        </div>

        <div class="closer" id="js-closer">
            <i class="fa fa-caret-left"></i> <span style="margin-left: 5px;">Выберите чат</span>
        </div>

    </div>

</div>

{# Шаблон ссылки на чат для боковой панели. #}
<template id="js-chat-link-temp">
    <div class="chat-link">
        <div class="chat-link__chat-name"></div>
        <div class="chat-link__last-message"></div>
        <div class="chat-link__date"></div>
    </div>
</template>

{# Шаблон чата. #}
<template id="js-chat-temp">
    <div class="chat chat--hidden">
        <div class="chat__header">
            <div class="chat__back-link">
                <i class="fa fa-caret-left"></i>
            </div>
            <div class="chat__name"></div>
        </div>
        <div class="chat__messages"></div>
        {# Ввод и отправка сообщения. #}
        <div class="chat__input-container">
            <div class="input-and-inner-button-container">
                <input type="text" placeholder="Что же написать...">
                <button>
                    <i class="fa fa-play"></i>
                </button>
            </div>
        </div>
    </div>
</template>

{# Шаблон сообщения для чата. #}
<template id="js-chat-message-temp">
    <div class="chat__message">
        <div class="chat__message__name"></div>
        <div class="chat__message__text-wrapper">
            <div class="chat__message__text"></div>
            <div class="chat__message__time"></div>
        </div>
    </div>
</template>

{# Шаблон разделителя множеств сообщений по дате. #}
<template id="js-chat-date-sep-temp">
    <div class="chat__date-sep"></div>
</template>

{% endblock %}


{% block js %}
<script src="{{ url_for('static', filename='js/main/init.js') }}" type="module"></script>
{% endblock %}
