{% extends '_base.html' %}


{% block title %}
GreenChat
{% endblock %}


{% block css %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}


{% block main %}
<div class="messenger">

    <div class="sidebar">
        <div class="sidebar__title">
            <img class="avatar avatar--active"
                 id="js-user-settings-opener"
                 role="button"
                 src="https://igroutka.ru/uploads/posts/2016-12/thumbs/1482665794_igra-tachki-gvido-velikolepniy.jpg">
            <div class="sidebar__name cut-long-text" id="js-user-name">Загрузка...</div>
            <div class="sidebar__id" id="js-user-id-parent">ID: <span id="js-user-id">загрузка...</span></div>
        </div>

        <div class="sidebar__search">
            <div class="input-and-inner-button-container js-click-by-press-enter">
                <input id="js-search-input" class="js-click-by-press-enter-input" placeholder="Введите ID..." maxlength="100">
                <button id="js-search-button" class="js-click-by-press-enter-button">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </div>
        </div>

        <div class="sidebar__links" id="js-all-chats-links"></div>

        <div class="sidebar__user-settings sidebar__user-settings--hidden" id="js-user-settings">
            <div class="sidebar__user-settings__avatar">
                <img class="avatar avatar--active"
                     id="js-user-settings-avatar"
                     src="https://igroutka.ru/uploads/posts/2016-12/thumbs/1482665794_igra-tachki-gvido-velikolepniy.jpg">
                <input type="file" id="js-user-settings-avatar-input">
                <button id="js-user-settings-avatar-button">Изменить</button>
            </div>

            <div class="sidebar__user-settings__id">
                Ваш ID: <span id="js-user-settings-id">Загрузка...</span>
            </div>

            <input value="Загрузка..." id="js-user-settings-first-name">
            <input value="Загрузка..." id="js-user-settings-last-name">

            <button class="sidebar__user-settings__save" id="js-user-settings-save">Сохранить изменения</button>
            <button class="sidebar__user-settings__close" id="js-user-settings-close">Закрыть</button>
        </div>
    </div>

    <div class="cur-chat">

        <div class="chats" id="js-loaded-chats">

            <div class="chat chat--hidden chat--new-fake" id="js-new-chat">
                <div class="chat__header">
                    <div class="chat__back-link">
                        <i class="fa fa-caret-left"></i>
                    </div>
                    <div class="chat__name-wrapper">
                        <div class="chat__name"></div>
                        <img class="avatar"
                             src="https://igroutka.ru/uploads/posts/2016-12/thumbs/1482665794_igra-tachki-gvido-velikolepniy.jpg">
                    </div>
                </div>
                <div class="chat__messages">
                    Отправьте сообщение для создания нового чата.
                </div>

                <div class="chat__input-container">
                    <div class="input-and-inner-button-container js-click-by-press-enter">
			            <textarea class="js-click-by-press-enter-input"
                                  placeholder="Ваше первое сообщение?..."
                                  maxlength="10000"></textarea>
                        <button class="js-click-by-press-enter-button">
                            <i class="fa fa-play"></i>
                        </button>
                    </div>
                </div>

            </div>

        </div>

        <div id="js-cur-chat-overlay">
            <i class="fa fa-caret-left"></i> <span style="margin-left: 5px;">Выберите чат</span>
        </div>

    </div>

</div>

<template id="js-chat-link-temp">
    <div class="chat-link">
        <div class="chat-link__chat-name-wrapper">
            <img class="avatar"
                 src="https://igroutka.ru/uploads/posts/2016-12/thumbs/1482665794_igra-tachki-gvido-velikolepniy.jpg">
            <div class="chat-link__chat-name"></div>
        </div>

        <div class="chat-link__last-message cut-long-text">
            <span class="chat-link__self">Вы: </span>
            <span class="chat-link__text"></span>
        </div>

        <div class="chat-link__date"></div>
        <div class="chat-link__count"></div>
    </div>
</template>

<template id="js-chat-temp">
    <div class="chat chat--hidden">
        <div class="chat__header">
            <div class="chat__back-link">
                <i class="fa fa-caret-left"></i>
            </div>
            <div class="chat__name-wrapper">
                <div class="chat__name"></div>
                <img class="avatar"
                     src="https://igroutka.ru/uploads/posts/2016-12/thumbs/1482665794_igra-tachki-gvido-velikolepniy.jpg">
            </div>
        </div>

        <div class="chat__messages"></div>

        <div class="chat__input-container">
            <div class="chat__interlocutor-write-hint"></div>
            <div class="input-and-inner-button-container js-click-by-press-enter">
		        <textarea class="js-click-by-press-enter-input" placeholder="Что же написать..." maxlength="10000"></textarea>
                <button class="js-click-by-press-enter-button">
                    <i class="fa fa-play"></i>
                </button>
            </div>
        </div>

    </div>
</template>

<template id="js-chat-message-temp">
    <div class="chat__message">
        <div class="chat__message__name"></div>
        <div class="chat__message__text-wrapper">
            <div class="chat__message__text"></div>
            <div class="chat__message__time"></div>
        </div>
    </div>
</template>

<template id="js-chat-date-sep-temp">
    <div class="chat__date-sep"></div>
</template>

{% endblock %}


{% block js %}
<script src="{{ url_for('static', filename='js/textareaIncrease.js') }}" type="module"></script>
<script src="{{ url_for('static', filename='js/clickByPressEnter.js') }}" type="module"></script>
<script src="{{ url_for('static', filename='js/disableBackReferrer.js') }}" type="module"></script>
<script src="{{ url_for('static', filename='js/main/init.js') }}" type="module"></script>
{% endblock %}
