{% extends '_base.html' %}

{% block title %}
Регистрация
{% endblock %}

{% block css %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/reg.css') }}">
{% endblock %}

{% block main %}

<div class="reg" id="js-reg-carousel">
    <div class="reg__step">
        <input placeholder="Ваше имя">
        <input placeholder="Ваша фамилия">
        <button class="js-next">Далее</button>
    </div>
    <div class="reg__step">
        <button class="reg__step__back js-back">Назад</button>
        <input placeholder="Ваш логин">
        <input placeholder="Ваш пароль">
        <input placeholder="Повтор пароля">
        <button class="js-next">Далее</button>
    </div>
    <div class="reg__step">
        <button class="reg__step__back js-back">Назад</button>
        <input placeholder="Ваша почта">
        <button>Отправить код</button>
        <input placeholder="Код подтверждения">
        <button>Создать аккаунт</button>
    </div>
</div>

<script src="{{ url_for('static', filename='js/reg.js') }}" type="module"></script>
{% endblock %}
